@charset "UTF-8";


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
    background-image: url(../Imagens/images-netflix/imagem-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

div.logo img{
    width: 15vw;
    padding-top: 5%;
    padding-left: 5%;
}

.escuro{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}


.seletor{
    margin-left: 78%;
    margin-top: -5.5%;
    font-size: 18px;
    display: inherit;
 
}

#idioma{
    background-color: transparent;
    color: white;
    margin: 20px;
    min-width: 5vw;
    height: 7vh;
    padding: 12px 2px;
    font-weight: 500;
    border-radius: 3px;
}

.botton{
    background-color: #e50914;
    color: white;
    font-weight: 500;
    min-width: 28%;
    padding: 12px 2px;
    border: none;
    border-radius: 3px;
}