body{
    height: 100vh;
    background-color: black;
    background-image: url("Imagens/Backgroundenigmasclub.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;

}
header{
    background-color: transparent;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px            
}
nav{
    text-align: center;
    color: white;
    padding: 300;
    margin: 300;            
}
ul{
    word-spacing: 50px;

}
li{
    list-style: none;
    display: inline-block;
    transition: all 0.5s;
    padding: 200;
    margin: 200;
}
li:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: aqua;
}

div{

    background-position: center center;


}

div.inicio img{
    border: 0.5px solid aquamarine;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(12, 144, 171);
    -webkit-box-shadow: 5px 5px 5px rgb(12, 144, 171);
    -moz-box-shadow: 5px 5px 5px rgb(12, 144, 171);
    display: block;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    
    
}


#tp{
    /*gradiente*/
    color: red;
    font-size: xx-large;


    /*posição*/
    text-align: center;
    font-size: 70px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

#ts{
    color: red;
    font-size: xx-large;


    /*posição*/
    text-align: center;
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 

}

.h3video{
    color: red;
    padding: 10px 10px 0px 10px;
    margin: 10px 10px 0px 10px;

}
div.videoap iframe{
    
    display: inline-block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding: 0px 10px 10px 10px;
    margin: 2mm auto;
    left: 25%;
}


div.sobre {
        background-color: transparente;
        max-width: 780px;
        padding: 10px;
        margin: auto;
        border: 1px solid darkcyan;
        border-radius: 15px;

}

h3{
    color: white;
    text-align: center;
}

h4{
    color: white;
    text-align: center;

}

p{
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    word-spacing: 10px;
}
