@charset "UTF-8";

/*Mobile First*/

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #5e3a84, black);
    background-color: #5e3a84;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
} 
span#burguer{
    background-color: #5e3a84;
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
} 
#burguer:hover{
    background-color:black;
    color: #d587bd;
}
nav ul li{
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 10px;
    display: block;
    border-top: 2px solid #5e3a84;
}
nav{
    display: none;
    
}

nav a{
    text-decoration: none;
    color: #5e3a84;
}

li:hover{
    background-color:black;
}

li a:hover{
    color: #d587bd;
}

.inicio{
    /*background site*/
    background-image: url("../Imagens/pixelart-header.gif");
    background-position: center center;
    background-size: cover;
    border-radius: 10%;
    /*tamanho do inicio*/
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}

.inicio img{
    /*Resolução e tamanho*/
    width: 40%;
    height: 60%;
    border-radius: 50%;
    /*Posição*/
    margin-left:30%;
    position: static;
}

.inicio h1, h3{
    background-color: transparent;
    color: rgb(244, 234, 245);
    text-align: center;
    
}

.inicio h1{
    font-size: 2.5em;;
    text-shadow: 3px 2px 2px black;
}

h3{
    font-size: 1.3em;
    padding-top:10px;
    padding-bottom: 20px;
    font-size: 1.4em;
    text-shadow: 3px 2px 2px black;
}

p{
    color: white;
}

.sobremim{
    /*Resolução*/
    width: 90vw;
    height: auto;
    margin: auto;
    padding: 5%;
    /*background*/
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 10%;
    text-align: justify;

}

.sobremim h3{
    padding-bottom: 20px;
    font-size: 1.4em;

}

.sobremim p{
    padding: 5px 5px 5px 5px;
    text-indent: 10px;
    font-size: 1.2em;
    word-spacing: 1px;
}

.inter{
     /*Resolução*/
     width: 90vw;
     height: auto;
     margin: auto;
     padding: 10%;
     /*fontes*/
     font-size: 1.2em;
     color:rgb(244, 234, 245);
     text-align: center;
     line-height:2px;
     text-shadow: 3px 2px 2px black;
}

.monster{
    margin-left:27%;
    margin-bottom: 0px;
    
}

#animation{
    width:35%;
    height: auto;
    display: inline-block;
    margin-bottom: 0px;

}

.formacao{
    /* Imagem*/
    background-image: url(../Imagens/study.gif);
    background-position: center center;
    background-size: cover;
    /*Resolução*/
    width: 90vw;
    height: auto;
    margin: auto;
    padding: 10%;
    padding-top: 0%;
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 10%;
}

.formacao h3{
    /*fontes*/
    font-size: 1.4em;
    color:rgb(244, 234, 245);
    text-align: center;
    text-shadow: 3px 2px 2px black;
    margin: 5%;
    margin-bottom: 0%;
    padding: 5%;
}
.formacao h4{
    color: white;
    text-shadow: 3px 2px 2px black;
    padding: 10px;
    text-align: center;
}
.formacao p{
    color: white;
    text-shadow: 3px 2px 2px black;
    text-align: left;
}

.skill{
    width: 90vw;
    height: auto;
    margin: auto;
    padding: 10%;
    padding-top: 0%;
    position: 

}

.skill img{
    max-width: 20vw;
    display: block;
    position: center center;
    margin-left: 36%;
}

.skill img:hover{
    -moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    transition: transform .5s, border 1s;
}

#sonic{
    width:20%;
    position: absolute;
    margin-left:2%;
    margin-top: 4.2%;
    
}

#cat{
    width: 10%;
    margin-top: -15%;
    margin-left: 60%;
    position: absolute;
}

.transition{
    width: 100vw;
    height: 30vh;
    display: block;
    background-image: url("../Imagens/pixelartcity.jpg");
    background-attachment: fixed;
    background-size: cover;



    /*Fonte*/
    font-size: 1.2em;
    color:rgb(244, 234, 245);
    display: block;
    text-align: center;
    text-shadow: 3px 2px 2px black;
    vertical-align: middle;


}

.transition img{
    width: 30%;
    margin-top: 30px;

}


.project img{
    max-width: 240px;
    margin: 5px;
    padding: 1px;
    border-radius: 2px;



    box-shadow: 4px 4px 4px #5e3a84;
    border: 3px solid black;
    transition: all 0.5s;
}

.project img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border: 4px solid #d587bd;

}

.project a{
    display: block;
    color: white;
    text-decoration: none;
    text-shadow: 3px 2px 2px black;
    padding: 5px;
    text-align: center;
    transition: all 0.5s;
}

.project a:hover{
    color:#d587bd;
    font-size: large;
}

.final{
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to top,black , #5e3a8f);
} 
.contatos{
    width: 100vw;
    margin: 2px;
    height: auto;
    background-color: black;
    display: inline-block;
    text-align: center;
    

    /*Fontes*/
}

.contatos a{
    text-align: center;
    margin: 2%;
    margin-bottom: 5%;
    padding: 2%;

}


.contatos img{
    transition: all 1s;
}

.contatos img:hover{
    
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}


footer{
    width: auto;
    height: auto;
    background-color: black;
    padding-top: 10px;

    text-align: center;
}