@charset "UTF-8";

/*Mobile First*/

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #5e3a84, black);
} 
span#burguer{
    background-color: #5e3a84;
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
} 
#burguer:hover{
    background-color:black;
    color: #d587bd;
}
nav ul li{
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 10px;
    display: block;
    border-top: 2px solid #5e3a84;
}
nav{
    display: none;
}

nav a{
    text-decoration: none;
    color: #5e3a84;
}

.inicio{
    /*background site*/
    background-image: url("../Imagens/pixelart-header.gif");
    background-position: center center;
    background-size: cover;
    border-radius: 10%;
    /*tamanho do inicio*/
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}

.inicio img{
    /*Resolução e tamanho*/
    width: 40%;
    height: 60%;
    border-radius: 50%;
    /*Posição*/
    margin-left:25%;
    position: static;
}

.inicio h1, h3{
    background-color: transparent;
    color: rgb(244, 234, 245);
    text-align: center;
    
}

.inicio h1{
    font-size: 2.5em;;
    text-shadow: 3px 2px 2px black;
}

.inicio h3{
    font-size: 1.3em;
}

p{
    color: white;
}

.sobremim{
    /*Resolução*/
    width: 90vw;
    height: auto;
    margin: auto;
    padding: 5%;
    /*background*/
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 10%;
    text-align: justify;

}

.sobremim h3{
    padding-bottom: 20px;
    font-size: 1.4em;

}

.sobremim p{
    padding: 5px 5px 5px 5px;
    text-indent: 10px;
    font-size: 1.2em;
}

.inter{
     /*Resolução*/
     width: 90vw;
     height: auto;
     margin: auto;
     padding: 10%;
     /*fontes*/
     font-size: 1.2em;
     color:rgb(244, 234, 245);
     text-align: center;
     line-height:2px;
}

.monster{
    margin-left:27%;
    
}

#animation{
    width:35%;
    height: auto;
    display: inline-block;

}

.formacao{
    /* Imagem*/
    background-image: url(../Imagens/study.gif);
    background-position: center center;
    background-size: cover;
    /*Resolução*/
    width: 90vw;
    height: auto;
    margin: auto;
    padding: 10%;
    padding-top: 0%;
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 10%;
}

.formacao h3{
    /*fontes*/
    font-size: 1.4em;
    color:rgb(244, 234, 245);
    text-align: center;
    text-shadow: 3px 2px 2px black;
    margin: 5%;
    margin-bottom: 0%;
    padding: 5%;
}
.formacao h4{
    color: white;
    text-shadow: 3px 2px 2px black;
    padding: 10px;
    text-align: center;
}
.formacao p{
    color: white;
    text-shadow: 3px 2px 2px black;
    text-align: left;
}

