@charset "UTF-8";

/*Typical Device Breakpoint
Pequenas telas: até 600px
Celular: até 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
TV: 1200px ou mais
*/

@media screen and (min-width: 993px){

* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #5e3a84, black);
    background-color: #5e3a84;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
} 

span#burguer{
    display: none;
}

nav#itens{
    margin: 10px;

    display: block;
    text-align: center;
    
  
}

nav#itens ul li{
    display: inline-block;
    text-align: center;   
    border-top: none; 
}
nav#itens a{
    font-size: 20px;
    color: white;
     
}

nav#itens a:hover{
    color: #5e3a84;
}


.inicio{
    width: 50%;
   
}
.inicio img, h1 h2{
    width: 40%;
}

.inicio img{
    width: 35%;

}

.inicio, .sobremim{
    display: inline-block;
    margin: 10px;

    
}

.sobremim{
    /*Resolução*/
    width: 40%;
    height: 52vh;
    padding: 5%;
    /*background*/
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 10%;
    text-align: justify;
    margin-top: 1px;

}

.sobremim h3{
    padding-bottom: 20px;
    font-size: 1.4em;

}

.sobremim p{
    padding: 5px 5px 5px 5px;
    text-indent: 10px;
    font-size: 1.2em;
    word-spacing: 1px;
}

.inter{
    display: none;
}

.formacao{
    font-size:25px;

}

.skill{
    padding: 15px;
    margin: 15px;
    width: 20vw;
    display: inline-flex;

}

.skill img{
    width: 5vw;
    
}

.skill img > h3{
    text-align: center;
}

.transition{
    display: none;
}

#sonic{
   display: none;
    
}

#cat{
   display: none;
}

.project{
    width: 100vw;
    height: 60vh;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    margin: 15px;
    
}


}

